/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  margin-top: 40px;
  margin-left: 350px;
  min-height: 100vh;
  display:flex; 
  justify-content: center;
  background-image:  url('../images/weather1.jpeg');
  overflow-y: hidden;
  overflow-x: hidden;
 } 
         
       /* FORECAST CSS*/

#iconsContainer{
    margin-top: 158px;
    margin-left: 700px;
    transform: translate(-50%, -50%);
    height: 240px;
    width: 1100px;    
    border-radius:0 0 50px 50px;
    background: linear-gradient(-45deg,#022a46,white, yellow);
    background-size: 400% 400%;
    animation: gradient 10s infinite linear;
  }
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
  
    50% {
        background-position: 100% 50%;
    }
  
    100% {
        background-position: 0% 50%;
    }
  }  
  
.icons{
    display: inline-block;
    height: 50px;
    width: 90px;
    margin: 20px ;
    margin-left: 100px; 
}

.image{
    height: 80px;
    width: 70%;
}

.imgClass{
    height: 80px;
    width: 70%;
}

.weather{
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}


     /* Weather CSS */

.wrapper{   
    margin-left: -400px;
    border-radius: 50px 0 0 0;
    width: 400px;
    height: 470px;
    padding-right: 200px;
    background:#fff;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
  }
  .wrapper1{
    margin-top: -470px;
    border-radius: 0 60px 0px 0;
    width: 700px;
    height: 470px;
    color: black;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
    background: linear-gradient(-45deg,#022a46,white, yellow);
    background-size: 400% 400%;
    animation: gradient 10s infinite linear;
  }
  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
  
    50% {
        background-position: 100% 50%;
    }
  
    100% {
        background-position: 0% 50%;
    }
  }  
  .wrapper.active header i{
    margin-left: 5px;
    font-size: 30px;
  }
  .wrapper .input-part{
    margin: 20px 25px 30px;
  }
  .wrapper.active .input-part{
    display: none;

  }
  
  .input-part .info-txt{
    display: none;
    font-size: 17px;
    text-align: center;
    padding: 12px 10px;
    border-radius: 7px;
    margin-bottom: 15px;
  }
  .input-part .info-txt.error{
    color: #721c24;
    display: block;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
  }
  
  .input-part .info-txt.pending{
    color: #0c5460;
    display: block;
    background: #d1ecf1;
    border: 1px solid #bee5eb;
  }
  .input-part :where(input, button){
    width: 200%;
    height: 55px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 7px;
  }
  .input-part input{
    text-align: center;
    padding: 0 15px;
    border: 1px solid #ccc;
  }
  .input-part input:is(:focus, :valid){
    border: 2px solid  #022a46;
  }
  .input-part input::placeholder{
    color: #bfbfbf;
  }
  .input-part .separator{
    height: 1px;
    width: 200%;
    margin: 25px 0;
    background: #ccc;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .separator::before{
    color: #b3b3b3;
    font-size: 19px;
    padding: 0 15px;
    background: #fff;
  }
  .input-part button{
    color: #fff;
    cursor: pointer;
    background:#022a46;
    transition: 0.3s ease;
  }
  .input-part button:hover{
    background:green;
  }
  
  .wrapper .weather-part{
    display: none;
    margin: 30px 0 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .wrapper.active .weather-part{
    display: flex;
  }
  
  .wrapper1 .weather-part{
    display: none;
    margin: 0 0 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .wrapper1.active .weather-part{
    display: flex;
  }
  
  .weather-part img{
    max-width: 125px;
  }
  .weather-part .temp{
    display: flex;
    font-weight: 500;
    font-size: 72px;
  }
  .weather-part .temp .numb{
    font-weight: 600;
  }
  .weather-part .temp .deg{
    font-size: 40px;
    display: block;
    margin: 10px 5px 0 0;
  }
  .weather-part .weather{
    font-size: 21px;
    text-align: center;
    margin: -5px 20px 15px;
  }
  .weather-part .location{
    display: flex;
    font-size: 19px;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 30px;
    align-items: flex-start;
  }
  .location i{
    font-size: 22px;
    margin: 4px 5px 0 0;
  }
  .weather-part .bottom-details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid #ccc;
  }
  .bottom-details .column{
    display: flex;
    width: 100%;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
  }
  .column i{
    color: #022a46;
    font-size: 40px;
  }
  .column.humidity{
    border-left: 1px solid #ccc;
  }
  .column .details{
    margin-left: 3px;
  }
  .details .temp, .humidity span{
    font-size: 18px;
    font-weight: 500;
    margin-top: -3px;
  }
  .details .temp .deg{
    margin: 0;
    font-size: 17px;
    padding: 0 2px 0 1px;
  }
  .column .details p{
    font-size: 14px;
    margin-top: -6px;
  }
  .humidity i{
    font-size: 37px;
  }
 
  /* POP UP CSS*/

  .popup{
    background-color:rgb(227, 226, 226);
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup p{
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}
